<%- include('./Partials/header.ejs'); %>
<div class="wrapper-container">
    <%- include('./Partials/navbar.ejs'); %>
    <!-- about me section -->
    <section id="experience" class="experience-section">
        <p style="margin-top: 80px; margin-bottom: 20px;">Hi folks! After completing my bachelor's from India, I completed my post graduation from Humber.
           I am currently studying my second post graduation course in Centenial college. Through out my 
           learning journey, I have worked in various places. Please look into my resume for more details!</p>
        <a href="Assets/pdf/Uditesh Jha.pdf"><button class="resume-btn" type="submit" name="button">RESUME</button></a>
        <h2>My Experience</h2>
        <div class="flex-container">
            <!-- experience left div -->
            <div class="exp-left">
                <h3>SRKay Consulting</h3>
                <p>I have worked as Associate Software developer. Experienced on technologies like
                    MySQL, SQL server and Spring Boot. I built APIs for ERP and developed Database and
                    APIs for external project called Institute.</p>
            </div>
            <!-- experience right div -->
            <div class="exp-right">
                <h3>Activous Solutions</h3>
                <p>I have worked as Software developer. Experienced on technologies like MySQL, Node JS,
                    Mongo DB, React JS and Express JS. I designed and developed Blog websites.</p>
            </div>
        </div>
    </section>
</div>
<%- include('./Partials/footer.ejs'); %>