<%- include('Partials/header.ejs'); %>
<div class="wrapper-container">
    <%- include('Partials/navbar.ejs'); %>
    <section class="intro-section">
        <!-- flex container -->
        <div class="flex-container">
            <!-- intro left div -->
            <div class="intro-left">
                <!-- main header  -->
                <h1 class="header-part1">Hey, I'm a web </h1>
                <h1 class="header-part2">developer.</h1>
                <p>I am Uditesh Jha, a freelancer web designer
                    and developer from Toronto. You are invited to
                    explore my work and contact me to discuss how
                    we can do some great work together.</p>
                
            </div>
            <!-- intro right div -->
            <div class="intro-right">
                <!-- profile image -->
                <img src="/Assets/images/Profile_picture.jpg" alt="profile image">
            </div>
        </div>
    </section>

</div>

<%- include('Partials/footer.ejs'); %>