<%- include('Partials/header.ejs'); %>
<div class="wrapper-container">
    <%- include('Partials/navbar.ejs'); %>
    <!-- projects section -->
    <section id="project" class="projects-section">
        <h2>My Projects</h2>
        <div class="flex-container">
            <div class="proj-left">
                <h3>Bootstrap website template</h3>
                <!-- bootsrap website image -->
                <a href="https://uditesh.github.io/tindog/"><img src="Assets/images/Bootsrap_Website_Image(Cropped).png"
                        alt="bootsrap website image"></a>
            </div>
            <div class="proj-right">
                <h3>Personal TODO List</h3>
                <!-- todo list image -->
                <a href="https://powerful-cove-59413.herokuapp.com/"><img src="Assets/images/Todo_List_Web_Image.jpg"
                        alt="todo list image"></a>
            </div>
        </div>
    </section>
</div>
<%- include('Partials/footer.ejs'); %>